@{
    Layout = null;
}
@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/errors.css" />
</head>


<body>
    <div class="error-container">
        <div class="content">
            <img src="~/img/505.png" />
            <h1>500</h1>
            <h3>Internal Server Error</h3>
            <p>Something went wrong. Please go to home page and avoid this instruction for some moment. We will fix this error soon.</p>
            <a  asp-asp-controller="Tour" asp-action="Index">GO TO HOME PAGE</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
</body>
</html>
